aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
numpy
opencv-python
pillow
psutil
py-tgcalls==2.0.2
pykeyboard
pyroblack==2.3.84
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
uvloop
yt-dlp
youtube-search
youtube-search-python
ntgcalls==1.2.2
pytz
pybase64
